body {
    background: url("../image/bg.png");
}

div {
    word-break: break-all;
}
body > div {
    min-height: 50%;
}

/**--------------------------------------------------------------
upload images
--------------------------------------------------------------**/
.fileuploader {

    background-color: rgb(244, 246, 251);
    border-radius: 6px;
    padding: 0rem;
}

@media (min-width: 920px) {
    .fileuploader {
        /* max-width: 420px; */
    }
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.fileuploader-theme-dragdrop .fileuploader-input {
    display: block;
    padding: 3rem 0;
    background: #fff;
    border: 2px dashed #ebeef7;
    border-radius: 6px;
    text-align: center;
}

.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-icon-main {
    display: block;
    font-size: 56px;
    margin: 0 auto;
    margin-bottom: 26px;
}

.fileuploader-theme-dragdrop .fileuploader-input h3 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #5B5B7B;
    white-space: normal;
    box-shadow: none;
}

.fileuploader-theme-dragdrop .fileuploader-input p {
    margin: 0;
    padding: 0;
    color: #90a0bc;
    margin-bottom: 12px;
}

/* dragging state */
.fileuploader-theme-dragdrop .fileuploader-input .fileuploader-input-inner > * {
    -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
    transition: 500ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-inner > * {
    transform: translateY(18px);
    opacity: 0;
}

.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-icon-main {
    transform: translateY(30px) scale(1.2);
    opacity: 0.6;
}

.fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-caption {
    transform: translateY(30px);
    opacity: 0.6;
}

.fileuploader-items .fileuploader-items-list {
    display: block;
    padding: 0;
    list-style: none;
}

.fileuploader-items .fileuploader-item {
    position: relative;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #ebeef1;
    animation-duration: .6s;
}

.fileuploader-items .fileuploader-item:last-child {
    border-bottom: 0;
}



.m-padded-mini{
    padding: 0.2em!important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr{
    padding-left: 4em!important;
    padding-right: 4em!important;
}
.m-padded-lr-responsive{
    padding-left: 4em!important;
    padding-right: 4em!important;
}

/*-------margin-------*/
.m-margin-tb-tiny{
    margin-top: 0.3em!important;
    margin-bottom: 0.3em!important;

}

.m-margin-top-small{
    margin-top: 0.5em!important;
}

.m-margin-top-large{
    margin-top: 2em!important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.2em!important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em!important;
}


/*--------text-------*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
}
/*
 *字体粗细
 */
.m-text-thin {
    font-weight: 300 !important;
}
/*
 *字符间距（空格大小）
 */
.m-text-spaced {
    letter-spacing: 1px !important;
}
/*
 *行间距
 */
.m-text-lined {
    line-height: 1.8;
}
/*
 *字体透明度
 */
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*-----------image----------*/
.m-image{
    width: 196px;
    height: 160px;
}
/*-------------display----------*/
.m-inline-block{
    display: inline-block!important;
}


/*------------position-----------*/
.m-right-top{
    position: absolute;
    top:0;
    right: 0;
}
/*------container--------*/
.m-container {
    max-width: 72em!important;
    margin:auto!important;
}
.m-container-small {
    max-width: 60em!important;
    margin:auto!important;
}
/*------shadow----------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.4)!important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4)!important;
}
/*-----color-------*/
.m-black {
    color:#333!important;
}
.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none!important;
    }
    .m-mobile-show {
        display: block!important;
    }
    .m-padded-lr-responsive{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-lr-clear {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-wide{
        width:100%!important;
    }
}